
<%unless notice.nil?%>
  <div class="alert alert-info">
    <strong>Info!</strong> <%= notice %>
  </div>
<%end%>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <%if user_signed_in? %>
  <div class="container">
    <% @houses.each do |house| %>

        <div class="jumbotron">
          <h1 class="display-3"><%= house.name %></h1>
          <p class="lead"><%= house.address %></p>
          <hr class="my-4">
          <p class="lead">
            <%= link_to 'Show', house, class:"btn btn-primary btn-lg" %>
            <%= link_to 'Edit', edit_house_path(house), class:"btn btn-info btn-lg" %>
            <%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-lg", style: "float:right"%>
          </p>
        </div>
      <% end %>
  <%else%>
      <div class="container">
      <div class="jumbotron">
        <h2 class="display-3">Please login to proceed.</h2>

        <hr class="my-4">
        <p class="lead">
          <%= link_to 'Login', user_session_path, class:"btn btn-primary btn-lg"%>
        </p>
      </div>
      </div>

    <% end %>
  </div>
  </tbody>
  </div>
</table>

<br>

