<style>
  .forma{
    padding-left: 25%;
    padding-right: 25%;
  }

</style>

<h2 style="text-align: center; margin-bottom: 5%"><%= 'Register' %></h2>

<div class="container forma">
<%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
  <%= devise_error_messages! %>
      <% binding.pry %>
  <%= f.hidden_field :invitation_token %>
  <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :nickname %>

  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= f.button :submit, "Create account" %>
<% end %>
</div>